.category-btn {
    background-color: #2fffec;
    padding: 1em;
    margin: 0.5em;
    border-radius: 0.5em;
}

/* changes the color of btn that is clicked */
.category-btn:focus {     
    background-color:yellow;    
}

.category-btn:before {
    content: attr(count);
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    border-radius: 50%;
    background: rgb(67, 151, 232);
    border: 1px solid #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    color: #FFF;
    /* position: absolute; */
    /* top: -7px; */
    /* left: -7px; */
    
}

.category-btn.badge-bottom-right:before {
    left: auto;
    top: auto;
    right: -7px;
    bottom: -7px;
}
